
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Dear Vincent">
    <meta name="description" content="Convert math and equations to beautiful pictures">
    <meta name="keywords" content="art,math,equation,visualizer,draw,picture,dear vincent,dear,vincent">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
	  <link rel="stylesheet" href="https://use.typekit.net/wxg4vcb.css">
  </head>
  <body class="bg">
    <div class="bg"></div>
    <router-outlet></router-outlet>
  </body>
</html>
