<h1 class="text-center center header_font">DEAR VINCENT</h1>
<div class="container pt-5">
  <p class="text-center sub_header_font text-lg">Become Math Artist</p>
</div>
<div class="text-center">
  <a [routerLink]="['/draw']"
  [queryParams]="{ equationX: 'sin(-10*x rad)*500', equationY: 'y', minX: 0, maxX: 6.28, minY: 0, maxY: 6.28, ittStep: 0.02, showLine: true, showPoints: false, animSpeed: 50, color1: '#c64906', color2: '#98c58c', coordinates:'p'  }" class="btn-primary btn-lg text-center" type="button" title="">Check It Out</a>
</div>

<footer>
  <p>Author:
  <a style="color: azure;" target="_blank" href="https://www.linkedin.com/in/artem-bordiuh">Artem Bordiuh</a></p>
</footer>
